#upload{
    border: 1px dashed;
    padding: 15px;
    border-radius: 5px;
    background: lightskyblue;

    align: center;
}
#component{
    margin-left: 35%;
}
body {
    background: grey;
}
table {
    width: 100%;
}
table td{
    background: lightskyblue;
    padding: 15px;
    font-weight: bold;
    border: 1px groove;
}
table td a:link, a:active, a:visited{
    color:black;
}
table td a:hover{
    color:cadetblue;
}
table input {
    border-radius: 10px;
    background: green;
    width: 70px;
    height: 35px;
}
#area {
    border-radius: 10px;
}
#buttonUpdate, #buttonBack{
    height: 40px;
    width: 100px;
    border-radius: 20px;
}
#buttonUpdate:hover{
    background-position: 0 -23px;
}